body{
    background-color: #40916c;
    padding-top: 10%;
    font: normal 15pt Arial;
}
h1{
    color: rgb(102, 182, 128);
}
p{
    color: #40514E;
}
img{
    float: right;
}
main{
    background-color: #d8f3dc;
    border-radius: 15px;
    padding: 3%;
    margin: auto;
    width: 40%;
}
form{
    margin-top: 10%;
}
ul{
    padding-left: 0px;
}
li{
    list-style: none;
}